<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/learn">Learn more</a>
			</li>
			<div class="form-inline my-2 my-lg-0">
				<script>
					function logout() {
						firebase.auth().signOut().then(function () {
							// Sign-out successful.
						}, function (error) {
							// An error happened.
						});
					}
				</script>
				<button class="nav-link" style="right:0" onclick="logout()" id="user_info"> | Logout</abutton </div> </ul>
						</div> <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js">
						</script>
				<script>
					// Initialize Firebase
					console.log("oi1");
					var config = {
						apiKey: "AIzaSyBmO7JGyWsFJ01gQnAKrJdWSVtbAASD1qk",
						authDomain: "roam-57db5.firebaseapp.com",
						databaseURL: "https://roam-57db5.firebaseio.com",
						projectId: "roam-57db5",
						storageBucket: "roam-57db5.appspot.com",
						messagingSenderId: "646835090112"
					};
					firebase.initializeApp(config);
					console.log("oi2");
				</script>
				<script>
					firebase.auth().onAuthStateChanged(function (user) {
						if (user) {
							document.getElementById("user_info").innerHTML += user.displayName;
						}
					});
				</script>
</nav>