<style>
	html,
	body {
		margin: 0px;
		padding: 0px;

	}

	.masthead {
		height: 25vh;
		min-height: 150px;
		background-image: url("../resources/img/beproudcapaabanner.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>
<div id="app" class="container-fluid" style="margin:0px; padding: 0px">
	<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" src="../resources/img/cu_boulder_logo.jpg" href="/home"></a>
				<li class="nav-item">
					<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
				<li class="nav-item">
					<a class="nav-link" href="/learn">Learn More</a>
				</li>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" onclick="logout()" href="/" id="login"> <span id="user_info"></span> | Logout</a>
				</li>
			</ul>
		<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
		<script>
			// Initialize Firebase
			console.log("oi1");
			var config = {
				apiKey: "AIzaSyBmO7JGyWsFJ01gQnAKrJdWSVtbAASD1qk",
				authDomain: "roam-57db5.firebaseapp.com",
				databaseURL: "https://roam-57db5.firebaseio.com",
				projectId: "roam-57db5",
				storageBucket: "roam-57db5.appspot.com",
				messagingSenderId: "646835090112"
			};
			firebase.initializeApp(config);
			console.log("oi2");
		</script>
		<script>
			firebase.auth().onAuthStateChanged(function (user) {
				if (user) {
					document.getElementById("user_info").innerText = user.displayName;
				} else {
					document.getElementById("login").innerHTML = "Login";
				}
				document.getElementById("user_info").href = "/";
			});
			function logout() {
				firebase.auth().signOut().then(function () {
					// Sign-out successful.
				}, function (error) {
					// An error happened.
				});
			}
		</script>
	</nav>
	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				</div>
			</div>
		</div>
	</header>
</div>